@font-face {
  font-family: 'thuluth-decorated';
  src: url('../fonts/thuluth-decorated.eot');
  src: local('ثلث مزخرف'), local('thuluth-decorated'),
    url('../fonts/thuluth-decorated.woff') format('woff');
}

@font-face {
  font-family: 'cairo-bold';
  src: url('../fonts/cairo-bold.eot');
  src: local('القاهرة ثقيل'), local('cairo-bold'), url('../fonts/cairo-bold.woff') format('woff');
}


.ayat-style {
  font-family: 'thuluth-decorated' , sans-serif;
  direction: rtl;
  font-weight: bold;
  font-size: 22px;
}



.img {
  width: 15%;
}

* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;

}

body::-webkit-scrollbar-thumb {
  background-color: #43a047;
}

body {
  background-color: #f2efea;
  overflow: hidden;
  overflow-y: scroll;
}

.input__container--variant {
  background: linear-gradient(to bottom, #f3fff9, #f3fff9);
  border-radius: 30px;
  max-width: 13em;
  padding: 1em 1em;
  margin-top: 25px;
}

.shadow__input--variant {
  filter: blur(25px);
  border-radius: 30px;
  background-color: #f3fff9;
  opacity: 0.5;
}

.input__button__shadow--variant {
  border-radius: 15px;
  background-color: #07372c;
  padding: 10px;
  border: none;
}

.input__button__shadow--variant:hover {
  background-color: #3c6659;
}

.input__search--variant {
  width: 47em;
  align-items: center;
  border-radius: 13em;
  outline: none;
  border: none;
  padding: 0.8em;
  font-size: 1.2em;
  color: #002019;
  background-color: transparent;
}

.input__search--variant::placeholder {
  color: #002019;
  opacity: 0.7;
}

.input__container--variant {
  background: linear-gradient(to bottom, #f3fff9, #f3fff9);
  border-radius: 1.5em;
  max-width: 47em;
  /* padding: 1em; */
  box-shadow: 0em 1em 3em #beecdc64;
}

.box>*:hover {
  background: #3c6659;
  color: #fff;
  border: none;
}

.box {
  /* display: flex; */
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  width: 80%;
  display: grid;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  cursor: pointer;
}

.sora {
  font-family: 'thuluth-decorated';
}

.box>* {
  flex: 1 1 80px;

  height: 120px;
  outline: none;
  border: #07372c 2px solid;
  width: 60%;
  margin-top: 10px;
  align-items: center;
  justify-content: space-around;
  display: grid;
  align-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 5px;
  font-family: myFont;
  font-size: 22px;
}

.number {
  border: #07372c 2px solid;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  transform: rotate(45deg);
}

.nombre {
  transform: rotate(315deg);
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}

@media screen and (max-width: 1200px) {
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .box {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.input__search::placeholder {
  text-align: right;
}



.ayat {
  padding: 20px;
  width: calc(100% - 40px);
  margin-top: 20px;
  margin-right: 40px;
  font-weight: bold;
  font-size: 24px;
  color: #121212;
  text-align: justify;
  font-family: myFont;

}

.ayat span {
  line-height: 2;
  width: 100%;
  font-family: 'cairo-bold';
  /* border-bottom: 3px solid #43a047;  */
  /* border-radius: 16px; */
  MARGIN-TOP: 25px;

}


.container {
  width: 800px;
  margin: 30px auto;
}

.mejs {
  &__container {
    margin-top: 10px;
  }

  &__controls {
    display: block;
  }

  &__controls,
  &__container {
    background: none !important;
  }

  &__time {
    color: #777;
    font-weight: normal;
  }
}

.podcast {
  background: #f0f0f0;
  padding: 30px;
  border-radius: 3px;

  &__episode_title {
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    color: #333;
  }

  &__title {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 11px;
    color: #555;

    i {
      font-style: normal;
      font-weight: normal;
      text-transform: capitalize;
      margin-left: 10px;
    }
  }

  &__meta {
    background: #ddd;
    margin: 40px -30px -30px -30px;
    padding: 0 30px 30px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    .artwork {
      margin-right: 0;
      transform: translateY(-70px);

      >img {
        border-radius: 3px;
        width: 150px;
        height: 150px;
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
        margin-bottom: -80px;
      }
    }
  }


}

.mejs-prepended-buttons {
  display: flex
}

.mejs-appended-buttons {
  display: flex;
  justify-content: space-evenly;
}

.mejs__play>button {
  background: transparent url('https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg') no-repeat;
}

.mejs__pause>button {
  background: transparent url('https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg') no-repeat;
  background-position: -20px 0;
}

.mejs__mute>button {
  background: transparent url('https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg') no-repeat;
  background-position: -60px 0;
}

.mejs__unmute>button {
  background: transparent url('https://cdn.jsdelivr.net/gh/ivorpad/images-src/mediaplayer-sprite-gray.svg') no-repeat;
  background-position: -40px 0;
}

.mejs-skip-back-button>button,
.mejs__skip-back-button>button {
  background: transparent url('https://cdn.jsdelivr.net/gh/ivorpad/images-src/skipback.svg');
}

.mejs-jump-forward-button>button,
.mejs__jump-forward-button>button {
  background: url('https://cdn.jsdelivr.net/gh/ivorpad/images-src/jumpforward.svg') no-repeat;
}

.mejs__button>button {
  color: #555;
}

.mejs__horizontal-volume-slider {
  display: none !important;
}



select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  margin: auto;
  margin-right: 0;

  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;

  color: rgb(0, 0, 0);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;


}

option {
  color: inherit;
  background-color: black;
}

select:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

/* Style for the audio player */
.audio {
  width: 100%;
  max-width: 100%;
  margin: 20px auto;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.audio::-webkit-media-controls-panel {
  background-color: #f5f5f5;
  border-radius: 8px;
}

.audio::-webkit-media-controls-play-button {
  background-color: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}




.audio::-webkit-media-controls-volume-slider,
.audio::-webkit-media-controls-current-time-display,
.audio::-webkit-media-controls-time-remaining-display {
  color: #333;
}


.audio::-webkit-media-controls-mute-button,
.audio::-webkit-media-controls-volume-slider-thumb {
  background-color: none;
}


.audio::-webkit-media-controls-played-bar {
  background-color: #333;
}

.audio::-webkit-media-controls-seek-back-button,
.audio::-webkit-media-controls-seek-forward-button,
.audio::-webkit-media-controls-time-remaining-display {
  color: #333;
}


.audio::-webkit-media-controls-current-time-display,
.audio::-webkit-media-controls-time-remaining-display,
.audio::-webkit-media-controls-time-remaining-display,
.audio::-webkit-media-controls-seek-back-button,
.audio::-webkit-media-controls-seek-forward-button {
  background-color: transparent;
  border: none;
}


.audio::-webkit-media-controls-current-time-display:hover,
.audio::-webkit-media-controls-time-remaining-display:hover {
  color: #555;
}



.span {
  text-align: justify;
  line-height: 2px;
  margin-top: 25px;
}


label,
.title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/* responsive design with multiple device */

@media only screen and (min-width: 1500px) {
  .box {
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    width: 80%;
    display: grid;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1500px) {
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1060px) {
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (max-width: 780px) {
  .box {
    display: grid;
    grid-template-columns: 1fr;
  }
}