@font-face {
  font-family: myFont;
  src: url(../font/Othmani.ttf);
}

@font-face {
  font-family: ABS;
  src: url(../data/quran.json);
}

.sora{
  font-family: myFont;
}

.img {
  width: 15%;
}

* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;

}



body {
  background-color: #f2efea;
  
  /* overflow-y: scroll; */
}

.input__container--variant {
  background: linear-gradient(to bottom, #f3fff9, #f3fff9);
  border-radius: 30px;
  max-width: 13em;
  padding: 1em 1em;
  margin-top: 25px;
}

.shadow__input--variant {
  filter: blur(25px);
  border-radius: 30px;
  background-color: #f3fff9;
  opacity: 0.5;
}

.input__button__shadow--variant {
  border-radius: 15px;
  background-color: #07372c;
  padding: 10px;
  border: none;
}

.input__button__shadow--variant:hover {
  background-color: #3c6659;
}

.input__search--variant {
  width: 47em;
  align-items: center;
  border-radius: 13em;
  outline: none;
  border: none;
  padding: 0.8em;
  font-size: 1.2em;
  color: #002019;
  background-color: transparent;
}

.input__search--variant::placeholder {
  color: #002019;
  opacity: 0.7;
}

.input__container--variant {
  background: linear-gradient(to bottom, #f3fff9, #f3fff9);
  border-radius: 1.5em;
  max-width: 47em;
  /* padding: 1em; */
  box-shadow: 0em 1em 3em #beecdc64;
}

.box > *:hover {
  background: #3c6659;
  color: #fff;
  border: none;
}
.box {
  /* display: flex; */
  flex-direction: column;
  flex-wrap: wrap;
  height: 300px;
  display: grid;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  /* width: 100vh; */
  cursor: pointer;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box > * {
  flex: 1 1 80px;

  height: 100px;
  border: #07372c 2px solid;
  width: 80%;
  margin-top: 10px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  border-radius: 5px;
  font-family: myFont;
  font-size: 22px;
}

.number {
  border: #07372c 2px solid;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  transform: rotate(45deg);
}

.nombre {
  transform: rotate(315deg);
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}

@media screen and (max-width: 1200px) {
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .box {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.input__search::placeholder {
  text-align: right;
}


/* suwar coran al kareem design */


.surah-popup
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70vh;
    z-index: 2;
    border-radius: 19px;
    background-color: #f2efea;
    overflow-y: scroll;
    transform: translateX(-150%);
    transition: 0.4s ease-in-out all;
}
.surah-popup.active
{
    transform: translateX(0%);
    transition: .7s transform ease-in-out;
    /* overflow: hidden; */
}
.surah-popup::-webkit-scrollbar
{
    width: 10px;
    background-color: #fff;
}
.surah-popup.active::-webkit-scrollbar-thumb
{
    background-color: #43a047;
    overflow: hidden;
}
.close-popup
{
    position: sticky;
    top: 5px;
    margin-right: -11px;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: #121212;
    cursor: pointer;
    
}
.surah-popup .ayat
{
    padding: 20px;
    width: calc(100% - 40px);
    margin-top: 20px;
    margin-right: 40px;
    font-weight: bold;
    font-size: 24px;
    color: #121212;
    text-align: center;
}
.surah-popup .ayat p
{
    line-height: 2;
    width: 100%;
    
    /* border-bottom: 3px solid #43a047; */
    border-radius: 16px;
    MARGIN-TOP: 25px;
}



source {
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
}

